<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <span hidden$="{{isLogged}}">
      <div class="row">
        <h2 class="col-md-12">Introduzca sus credenciales:</h2>
      </div>
      <input type="email" placeHolder="Email" value="{{email::input}}">
      </br>
      </br>
      <input type="password" placeHolder="Password" value="{{pwd::input}}">
      </br>
      </br>
      <button class="btn btn-primary" on-click="login">Login</button>
      <button class="btn btn-link" on-click="crearUsuario">Date de alta</button>
    </span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponseLogin"
      on-error="showErrorLogin"
    >
    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/apitechu/v2/logout/{{id}}"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponseLogout"
      on-error="showErrorLogout"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.GestureEventListeners(Polymer.Element) {
      static get is() {
        return 'login-usuario';
      }

      static get properties() {
        return {
          id : {
            type : Number
          }, first_name : {
            type : String
          }, last_name : {
            type : String
          }, email : {
            type : String
          }, pwd : {
            type : String
          }, isLogged: {
            type : Boolean,
            value : false
          }
        };
      }

      login(){
        console.log("El usuario ha pulsado el botón de login");

        var loginData = {
          "email" : this.email,
          "pwd" : this.pwd
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponseLogin(data){
        console.log("Recibida respuesta del servidor durante el login");
        console.log(data.detail.response);

        this.id = data.detail.response.id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.isLogged = true;

        this.dispatchEvent(new CustomEvent(
          "eventologin",
          {
            "detail":
            {
              "id" : this.id,
              "first_name" : data.detail.response.first_name,
              "last_name" : data.detail.response.last_name,
              "isLogged" : this.isLogged,
              "mensaje" : ""
            }
          }
        ));

        console.log("evento de login ok despachado");
      }

      showErrorLogin(error){
        console.log("Hubo un error en el login");
        this.isLogged = false;

        console.log(error);
        this.dispatchEvent(new CustomEvent(
          "eventologin",
          {
            "detail":
            {
              //"id" : this.id,
              //"first_name" : data.detail.response.first_name,
              //"last_name" : data.detail.response.last_name,
              "isLogged" : this.isLogged,
              "mensaje" : "El usuario y/o contraseña no existen."
            }
          }
        ));

        console.log("evento de login ko despachado");
      }

      logout(data){
        console.log("logout del hijo");

        var logoutData = {
          "id" : this.id
        };

        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponseLogout(data){
          console.log("Recibida respuesta del servidor durante el cierre de sesión");
          console.log(data.detail.response);
          this.email = "";
          this.pwd = "";
          this.isLogged = false;
      }

      showErrorLogout(error){
        console.log("Hubo un error en el cierre de sesión");
        this.isLogged = true;
        console.log(error);
      }

      crearUsuario(){
        console.log("El usuario ha pinchado botón para crear nuevo usuario");

        this.dispatchEvent(new CustomEvent(
          "eventocrearusuario",
          {
            "detail":
            {
              //"id" : this.id,
              //"first_name" : data.detail.response.first_name,
              //"last_name" : data.detail.response.last_name,
              "isLogged" : false,
              "mensaje" : ""
            }
          }
        ));
        console.log("evento de pantalla crear usuario despachado");
      } // fin crearUsuario

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
