<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
      <h4 class="col-md-12">Movimientos de su cuenta <b>{{iban}}</b></h4>
      <h4 class="col-md-12">Saldo: {{balance}} EUR</h4>
    </div>

    <table>
        <thead>
          <tr>
             <th>FECHA</th>
             <th>&nbsp;&nbsp;&nbsp;DESCRIPCIÓN</th>
             <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
             <th align="center">IMPORTE</th>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" id="listadoMovimientos" items="{{movements}}">
            <tr>
              <td>{{item.date}}</td>
              <td colspan="2">&nbsp;&nbsp;&nbsp;{{item.description}}</td>
              <td align="right">{{item.amount}} EUR</td>
            </tr>
          </template>
        </tbody>
      </table>

      </br>
      <button class="btn btn-link" on-click="volverACuentas">Volver al listado de cuentas</button>

      <!-- button class="btn btn-primary" on-click="newMovement">Realizar movimiento</button -->
      <!-- a href="projects">Volver al listado de cuentas</a -->

    <!-- iron-ajax
      auto=""
      id="getMovements"
      url="http://localhost:3000/apitechu/v2/users/{{iban}}/movements"
      handle-as="json"
      on-response="showDataGetMovements"
      on-error="showErrorGetMovements">
    -->

    <iron-ajax
      auto=""
      id="getMovements"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts/{{iban}}/movements"
      handle-as="json"
      on-response="showDataGetMovements"
      on-error="showErrorGetMovements">
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          id : {
            type : Number
          }, first_name : {
            type : String
          }, last_name : {
            type : String
          }, iban : {
            type : String
          }, balance : {
            type : Number
          }, date : {
            type : Date
          }, description : {
            type : String
          }, amount : {
            type : Number
          }, movements : {
            type : Array
          }
        };
      }

      showDataGetMovements(data){
        console.log("Recibidos datos de los movimientos de la cuenta");
        console.log(data.detail.response);
        this.movements = data.detail.response;
      }

      showErrorGetMovements(){

      }

      volverACuentas(e){
        console.log("Volver a cuentas desde listado de movimientos");

        this.dispatchEvent(new CustomEvent(
          "eventovolveracuentas",
          {
            "detail":
            {
              "id" : this.id,
              "first_name" : this.first_name,
              "last_name" : this.last_name,
              "isLogged" : true,
              "mensaje" : ""
            }
          }
        ));
        console.log("evento de volver a ver cuentas despachado");
      }

    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
