<!-- link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy {{first_name}} {{last_name}}</h2>
    <h2>y tengo [[age]] años</h2>
    <input type="text" value="{{first_name::input}}"/>
    <input type="range" min="18" value={{age::input}} max="70"/>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module -->




<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">

<dom-module id="frontproyecto-app">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <div class="jumbotron">
     <h1>MI PROYECTO</h1>
   </div>

   <input type="text" value="{{componentName::input}}"></input>
   <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
     <div component-name="login-usuario"><login-usuario id="id" on-hacerLogin="verUsuario"></login-usuario></div>
     <!-- div component-name="alta-usuario"><alta-usuario></alta-usuario></div-->
     <!-- div component-name="visor-usuario"><visor-usuario id="4"></visor-usuario></div -->
     <!-- div component-name="visor-cuentas"><visor-cuentas iduser="8"></visor-cuentas></div -->
     <div component-name="visor-usuario"><visor-usuario></visor-usuario></div>
     <!-- div component-name="visor-cuentas"><visor-cuentas></visor-cuentas></div -->
     <div component-name="visor-movimientos"><visor-movimientos></visor-movimientos></div>
   </iron-pages>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class FrontproyectoApp extends Polymer.Element {
     static get is() {
       return 'frontproyecto-app';
     }

     static get properties() {
       return {
         componentName : {
           type : String,
           value : "login-usuario"
         },
         mensaje : {
           type : String
         }
       };
     }

     verUsuario(e){
       console.log("evento capturado. Ahora debe mostrar los datos del usuario");
       console.log(e);

      // this.componentName = "visor-usuario";

//AQUÍ ME QUEDO POR HOY. ESTOY INTENTANDO PASAR EL PARÁMETRO DEL IDUSUARIO
    //   this.id =
       console.log("datos del usuario mostrados");
     }

   }

   window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
 </script>
</dom-module>
