<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
      <h3 class="col-md-12">Hola {{first_name}} {{last_name}}! Aquí puede ver el estado de sus cuentas:</h3>
    </div>
    </br>

    <table>
      <thead>
        <tr>
           <th>IBAN</th>
           <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
           <th align="center">SALDO</th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" id="listadoCuentas" items="{{accounts}}">
          <tr>
            <td>{{item.iban}}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td align="right">{{item.balance}} EUR</td>
            <td><button class="btn btn-link" on-click="verMovimientosCuenta">Ver movimientos</button></td>
            <td> <button class="btn btn-link" on-click="altaMovimiento">Alta movimiento</button></td>
          </tr>
        </template>
      </tbody>
    </table>
    <array-selector id="selectorCuentas" items="{{accounts}}" selected="{{selected}}" multi toggle></array-selector>

    <br></br>
    <h5>Tipo de cambio 1 {{divisaOrigen}} = [[tipoCambio]] {{divisaFinal}}</h6>

    <iron-ajax
      auto=""
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
      handle-as="json"
      on-response="showDataCuentas">
    >

    <iron-ajax
      auto=""
      id="getUSDAmount"
      url="https://free.currencyconverterapi.com/api/v5/convert?q={{divisaOrigen}}_{{divisaFinal}}&compact=y"
      handle-as="json"
      on-response="showDataCurrency">
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          id : {
            type : Number
          }, iban : {
            type : String
          }, id : {
            type : Number
          }, balance : {
            type : Number
          }, accounts : {
            type : Array
          }, tipoCambio : {
            type : Number
          }
        };
      }

      showDataCuentas(data){
        console.log("Recibidos datos de las cuentas del usuario");
  console.log("debería pasar por aquí");
        this.accounts = data.detail.response;
      }

      showDataCurrency(data){
        console.log("Se muestra a continuación la conversión a USD");
        var jsonTipo = data.detail.response;
        this.tipoCambio = jsonTipo.EUR_USD.val;
      }

      verMovimientosCuenta(e){
        console.log("El usuario ha pinchado botón para ver los movimientos de una cuenta.");

        //cogemos el iban seleccionado
        let cuentaSeleccionada = this.$.listadoCuentas.itemForElement(e.target);
        this.$.selectorCuentas.select(cuentaSeleccionada);

        this.dispatchEvent(new CustomEvent(
          "eventovermovimientos",
          {
            "detail" :
            {
              "id": this.id,
              "first_name" : this.first_name,
              "last_name" : this.last_name,
              "iban" : cuentaSeleccionada.iban,
              "balance" : cuentaSeleccionada.balance,
              "isLogged" : true,
              "mensaje" : ""
            }
          }
        ));
        console.log("evento de ver movimientos de una cuenta despachado");
      }

      altaMovimiento(e){
        console.log("El usuario ha pinchado botón para dar de alta un movimiento.");

        //cogemos el iban seleccionado
        let cuentaSeleccionada = this.$.listadoCuentas.itemForElement(e.target);
        this.$.selectorCuentas.select(cuentaSeleccionada);

        this.dispatchEvent(new CustomEvent(
          "eventoaltamovimiento",
          {
            "detail":
            {
              "id": this.id,
              "first_name" : this.first_name,
              "last_name" : this.last_name,
              "iban" : cuentaSeleccionada.iban,
              "balance" : cuentaSeleccionada.balance,
              "isLogged" : true,
              "mensaje" : ""
            }
          }
        ));
        console.log("evento de alta de movimientos despachado");
      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
