<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <!-- h2 class="col-md-12">Visor Usuario</h2 -->
      <h3 class="col-md-12">Hola {{first_name}} {{last_name}}!!</h3>
    </div>
    <!-- button class="btn btn-primary" on-click="verCuentas">Ver cuentas</button -->

    <iron-ajax
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData">
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.GestureEventListeners(Polymer.Element) {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name : {
            type : String
          }, last_name : {
            type : String
          }, id : {
            type : Number
          }, email: {
            type: String
          }
        };
      }

      showData(data){
        console.log("Recibidos datos del usuario");

        this.id = data.detail.response[0].id;
        this.first_name = data.detail.response[0].first_name;
        this.last_name = data.detail.response[0].last_name;
        this.email = data.detail.response[0].email;
      }

/*      verCuentas(){
        console.log("aquí y ahora hay que enseñar sus cuentas. Decirle al padre que llame al visor de cuentas");

      }*/
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
