<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../alta-usuario/alta-usuario.html">
<!-- link rel="import" href="../visor-usuario/visor-usuario.html" -->
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../alta-movimiento/alta-movimiento.html">

<dom-module id="componente-principal">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <!-- input type="text" value="{{componentName::input}}" disabled></input -->

   <div class="row">
     <h4 class="col-md-12">{{mensaje}}</h4>
   </div>

   <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
     <div component-name="login-usuario"><login-usuario id="loginUsuario" on-eventologin="mostrarUsuarioYCuentas" on-eventocrearusuario="mostrarCrearUsuario"></login-usuario></div>
     <div component-name="alta-usuario"><alta-usuario id="altaUsuario" on-eventocancelaraltausuario="mostrarLogin" on-eventoaltausuario="mostrarUsuarioCreado"></alta-usuario></div>
     <!-- div component-name="visor-usuario"><visor-usuario id="visorUsuario"></visor-usuario></div -->
     <div component-name="visor-cuentas"><visor-cuentas id="visorCuentas" on-eventovermovimientos="mostrarMovimientos" on-eventoaltamovimiento="mostrarCrearMovimiento"></visor-cuentas></div>
     <div component-name="visor-movimientos"><visor-movimientos id="visorMovimientos" on-eventovolveracuentas="mostrarUsuarioYCuentas"></visor-movimientos></div>
     <div component-name="alta-movimiento"><alta-movimiento id="altaMovimiento" on-eventovolveracuentas="mostrarUsuarioYCuentas" on-eventomovimientocreado="mostrarUsuarioYCuentas"></alta-movimiento></div>

   </iron-pages>

   <span hidden$="{{!isLogged}}">
       </br>
       </br>
       <button class="btn btn-link" on-click="cerrarSesion">Cerrar sesión</button>
   </span>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ComponentePrincipal extends Polymer.GestureEventListeners(Polymer.Element) {
     static get is() {
       return 'componente-principal';
     }

     static get properties() {
       return {
         componentName : {
           type : String,
           value : "login-usuario"
         }, mensaje : {
           type : String,
           value : ""
         }, isLogged: {
           type : Boolean,
           value : false
         }, accounts : {
           type : Array
         }
       };
     }

/*     verUsuario(e){
       console.log("evento capturado. Ahora debe mostrar los datos del usuario");
       console.log(e);

       this.componentName = "visor-usuario";

       this.$.visorUsuario.first_name = e.detail.first_name;
       this.$.visorUsuario.last_name = e.detail.last_name;

       console.log("datos del usuario mostrados");
     } */

     mostrarUsuarioYCuentas(e){
       console.log("evento capturado. Ahora debe mostrar las cuentas del usuario");
       console.log(e);

       this.componentName = "visor-cuentas";

       this.$.visorCuentas.id = e.detail.id;
       this.$.visorCuentas.first_name = e.detail.first_name;
       this.$.visorCuentas.last_name = e.detail.last_name;

       //para que muestre el botón de Desconectar
       this.isLogged = e.detail.isLogged;
       this.mensaje = "";

       console.log("Datos del usuario mostrados");

       this.$.visorCuentas.divisaOrigen = "EUR";
       this.$.visorCuentas.divisaFinal = "USD";

     }

     mostrarMovimientos(e){
       console.log("evento capturado. Ahora debe mostrar los movimientos de una cuenta");
       console.log(e);

        this.componentName = "visor-movimientos";

        this.$.visorMovimientos.id = e.detail.id;
        this.$.visorMovimientos.first_name = e.detail.first_name;
        this.$.visorMovimientos.last_name = e.detail.last_name;
        this.$.visorMovimientos.iban = e.detail.iban;
        this.$.visorMovimientos.balance = e.detail.balance;

        //para que muestre el botón de Desconectar
        console.log("isLogged es: " + e.detail.isLogged);
        this.isLogged = e.detail.isLogged;
        this.mensaje = "";

        console.log("Datos del movimiento mostrados");
      }

     cerrarSesion(){
       console.log("El usuario ha pulsado el botón de cierre de sesión");

       this.componentName = "login-usuario";
       this.$.loginUsuario.logout(this.id);
       this.isLogged = false;

       this.mensaje = "Sesión cerrada correctamente. Hasta pronto!";
     }

     mostrarCrearUsuario(e){
       console.log("evento capturado. Ahora debe mostrar la pantalla de alta de usuario");
       console.log(e);

       this.componentName = "alta-usuario";

       //limpiamos los campos
       this.$.altaUsuario.first_name = "";
       this.$.altaUsuario.last_name = "";
       this.$.altaUsuario.email = "";
       this.$.altaUsuario.pwd = "";

       this.isLogged = false;
       this.mensaje = "";

       console.log("Pantalla alta de usuario mostrada");
     }

     mostrarUsuarioCreado(e){
       console.log("evento capturado. Ahora debe mostrar el mensaje de usuario creado");
       console.log(e);

       this.componentName = "login-usuario";
       this.isLogged = e.detail.isLogged;
       this.mensaje = e.detail.mensaje;

       //limpiamos los campos
       this.$.loginUsuario.email = "";
       this.$.loginUsuario.pwd = "";

       console.log("Pantalla login de usuario mostrada tras alta de usuario.");
     }

     mostrarLogin(e){
       console.log("evento capturado. Ahora debe mostrar la pantalla de login");
       console.log(e);

       this.componentName = "login-usuario";

       //limpiamos los campos
       this.$.loginUsuario.email = "";
       this.$.loginUsuario.pwd = "";

       console.log("Pantalla login de usuario mostrada");
     }


     mostrarCrearMovimiento(e){
       console.log("evento capturado. Ahora debe mostrar la pantalla de alta de movimiento");
       console.log(e);

       this.componentName = "alta-movimiento";

       //paso los parámetros a la pantalla de alta de movimiento
       this.$.altaMovimiento.id = e.detail.id;
       this.$.altaMovimiento.first_name = e.detail.first_name;
       this.$.altaMovimiento.last_name = e.detail.last_name;
       this.$.altaMovimiento.iban = e.detail.iban;
       this.$.altaMovimiento.balance = e.detail.balance;

       //limpiamos los campos del formaulario de alta del movimiento
       this.$.altaMovimiento.date = "";
       this.$.altaMovimiento.description = "";
       this.$.altaMovimiento.amount = 0.00;

       console.log("Pantalla alta de movimiento mostrada");
     }

   }

   window.customElements.define(ComponentePrincipal.is, ComponentePrincipal);
 </script>
</dom-module>
