<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

      <div class="row">
        <h2 class="col-md-12">Por favor, complete sus datos de alta:</h2>
      </div>
      <input type="text" placeHolder="Nombre" value="{{first_name::input}}">
      </br></br>
      <input type="text" placeHolder="Apellidos" value="{{last_name::input}}">
      </br></br>
      <input type="email" placeHolder="Email" value="{{email::input}}">
      </br></br>
      <input type="password" placeHolder="Password" value="{{pwd::input}}">
      </br></br>
      <button class="btn btn-primary" on-click="crearUsuario">Alta</button>
      <button class="btn btn-primary" on-click="cancelarAltaUsuario">Cancelar</button>

    <iron-ajax
      id="doNewUser"
      url="http://localhost:3000/apitechu/v2/newUser"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          id : {
            type : Number
          }, first_name : {
            type : String
          }, last_name : {
            type : String
          }, email : {
            type : String
          }, pwd : {
            type : String
          }
        };
      }

      crearUsuario(){
        console.log("El usuario ha pulsado el botón de alta de usuario");

        var newUserData = {
          "first_name" : this.first_name,
          "last_name" : this.last_name,
          "email" : this.email,
          "pwd" : this.pwd
        };

        this.$.doNewUser.body = JSON.stringify(newUserData);
        this.$.doNewUser.generateRequest();
        console.log("Petición de alta de usuario enviada");
      }

      manageAJAXResponse(data){
          console.log("Recibida respuesta del servidor durante el alta de usuario");
          console.log(data.detail.response);

          this.dispatchEvent(new CustomEvent(
            "eventoaltausuario",
            {
              "detail":
              {
                //"id" : this.id,
                //"first_name" : data.detail.response.first_name,
                //"last_name" : data.detail.response.last_name,
                //"email" : data.detail.response.email,
                "isLogged" : false,
                "mensaje" : "Usuario creado correctamente."
              }
            }
          ));
          console.log("evento de cancelar alta de usuario despachado");

      }

      showError(error){
        console.log("Hubo un error en el alta de usuario");
        console.log(error);
      }

      cancelarAltaUsuario(){
        console.log("El usuario ha pinchado botón para cancelar alta de usuario");

        this.dispatchEvent(new CustomEvent(
          "eventocancelaraltausuario",
          {
            "detail":
            {
              //"id" : this.id,
              //"first_name" : data.detail.response.first_name,
              //"last_name" : data.detail.response.last_name,
              "isLogged" : false,
              "mensaje" : ""
            }
          }
        ));
        console.log("evento de cancelar alta de usuario despachado");
      }

    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
