<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
      <h3 class="col-md-12">Por favor, complete sus datos para la cuenta {{iban}}:</h3>
    </div>
    <input type="text" placeHolder="Fecha" value="{{date::input}}">
    </br></br>
    <input type="text" placeHolder="Descripción" value="{{description::input}}">
    </br></br>
    <input type="number" placeholder="0.00" value="{{amount::input}}" align="right" step="0.01" pattern="^\d*(\.\d{0,2})?$"> EUR
    <!-- input type="range" placeholder="0.00" value="{{amount::input}}" min="-999" max="999" step="0.01" pattern="^\d*(\.\d{0,2})?$" -->
    <!-- input type="email" placeHolder="0.00" value="{{amount::input}}" -->

    </br></br>
    <button class="btn btn-primary" on-click="crearMovimiento">Crear Movimiento</button>
    <button class="btn btn-link" on-click="volverACuentas">Volver al listado de cuentas</button>

    <iron-ajax
      id="doAltaMovimiento"
      url="http://localhost:3000/apitechu/v2/newMovement"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponseAltaMovimiento"
      on-error="showErrorAltaMovimiento"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'alta-movimiento'; }
      static get properties() {
        return {
          id : {
            type : Number
          }, first_name : {
            type : String
          }, last_name : {
            type : String
          }, iban : {
            type : String
          }, balance : {
            type : Number
          }, date : {
            type : Date
          }, description : {
            type : String
          }, amount : {
            type : Number
          }
        };
      }

      crearMovimiento(){
        console.log("El usuario ha pulsado el botón de alta de movimiento");

        var newMovementData = {
          "iban" : this.iban,
          "date" : this.date,
          "description" : this.description,
          "amount" : this.amount
        };

        this.$.doAltaMovimiento.body = JSON.stringify(newMovementData);
        this.$.doAltaMovimiento.generateRequest();
        console.log("Petición de alta de movimiento enviada");
      }

      manageAJAXResponseAltaMovimiento(data){
          console.log("Recibida respuesta del servidor durante el alta de movimiento");
          console.log(data.detail.response);
          this.isCreated = false;

console.log("EL SALDO ANTES DEL ALTA DEL MOVIMIENTO ES " + this.balance);

          this.dispatchEvent(new CustomEvent(
            "eventomovimientocreado",
            {
              "detail" :
              {
                "id" : this.id,
                "first_name" : this.first_name,
                "last_name" : this.last_name,
                "iban" : data.detail.response.iban,
                "balance" : data.detail.response.balance,
                "date" : data.detail.response.date,
                "description" : data.detail.response.description,
                "amount" : data.detail.response.amount,
                "isLogged" : true,
                "mensaje" : "Movimiento creado correctamente."
              }
            }
          ));

console.log("EL NUEVO SALDO DESPUÉS ES " + data.detail.response.balance);
          console.log("evento de alta de movimiento despachado");
      }

      showErrorAltaMovimiento(error){
        console.log("Hubo un error en el alta de movimiento");
        console.log(error);
      }

      volverACuentas(e){
        console.log("Volver a cuentas desde alta de movimiento");

        this.dispatchEvent(new CustomEvent(
          "eventovolveracuentas",
          {
            "detail":
            {
              "id" : this.id,
              "first_name" : this.first_name,
              "last_name" : this.last_name,
              "isLogged" : true,
              "mensaje" : ""
            }
          }
        ));
        console.log("evento de volver a ver cuentas despachado");
      }

    }

    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
</dom-module>
